<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Library</title>
    @RenderSection("head", false)
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #333;">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown" style="text-align: center; font-size: 20px">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">Books</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a style="color: black; font-size: 20px" class="dropdown-item" href="@Url.Action("New", "Books")">New books</a>
                        <a style="color: black; font-size: 20px" class="dropdown-item" href="@Url.Action("Recommended", "Books")">Recommended books</a>
                        <a style="color: black; font-size: 20px" class="dropdown-item" href="@Url.Action("Available", "Books")">Available books</a>
                        <a style="color: black; font-size: 20px" class="dropdown-item" href="@Url.Action("All", "Books")">All books</a>
                    </div>
                </li>
                <li class="nav-item dropdown" style="text-align: center; font-size: 20px">
                    <a class="nav-link" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">Categories</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <a style="color: black; font-size: 20px" class="dropdown-item" href="@Url.Action("Index", "Genres")">Genres</a>
                        <a style="color: black; font-size: 20px" class="dropdown-item" href="@Url.Action("Index", "Formats")">Formats</a>
                    </div>
                </li>

                @if (Request.IsAuthenticated && User.Identity.Name == "admin@library.com") { 
                <li class="nav-item dropdown" style="text-align: center; font-size: 20px">
                    <a class="nav-link" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">Admin</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <a style="color: black; font-size: 20px" class="dropdown-item" href="@Url.Action("Index", "Customers")">Manage Customers</a>
                        <a style="color: black; font-size: 20px" class="dropdown-item" href="@Url.Action("Index", "BookManager")">Manage Books</a>
                        <a style="color: black; font-size: 20px" class="dropdown-item" href="@Url.Action("Index", "BookFormatManager")">Manage Formats</a>
                        <a style="color: black; font-size: 20px" class="dropdown-item" href="@Url.Action("Index", "BookGenreManager")">Manage Genres</a>
                    </div>
                </li>
                }
            </ul>
        </div>

        <div class="mx-auto order-0" style="text-align: center; font-size: 20px">
            @Html.ActionLink("Library", "Index", "Home", null, new { @class= "text-decoration-none", style="font-size: 24px"})
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" style="text-align: center; font-size: 20px">
            <ul class="navbar-nav ml-auto">

                <li class="searchbox d-inline d-sm-inline d-md-none d-xl-inline order-6 order-xl-0" style="align-self: center; padding-right: 10px">

                    @using (Html.BeginForm("Search", "Home", FormMethod.Get))
                    {
                        <i class="fas fa-search" aria-hidden="true" style="padding-right: 5px;"> </i>
                        @Html.TextBox("searching", null, new { style = "width: 160px; text-align: center", placeholder="Search me" })
                        <input type="submit" value="Search"/>
                    }
                </li>

                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </nav>

    <div class="main">
        @RenderBody()
    </div>

    <footer>
        <div class="row text-center" style="margin: 0px">
            <div class="col-md-4 col-sm-12 social">
                <a href="https://github.com/V1co?tab=repositories" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/r-pawlowski/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="mailto:rafal.pawlowski1993@gmail.com" target="_blank"><i class="fas fa-envelope-square"></i></a>
                <a href="https://www.facebook.com/v1coprivate" target="_blank"><i class="fab fa-facebook-square"></i></a>
            </div>

            <div class="d-none d-md-inline col-md-4">
                <p class="me"></p>
            </div>
            <div class="d-none d-md-inline col-md-4">
                <p class="me">Rafal Pawlowski &#169;2020</p>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.js.map"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
