@model LibraryMVC.Core.ViewModels.CustomersViewModel

@{
    ViewBag.Title = "Details";
}

    <div class="container" style="margin-top:30px; padding-bottom:50px;">
        <h2>Customer Details</h2>
        <div class="container" style="margin-top:30px; margin-bottom:30px;">
            <div class="form-horizontal">
                <hr style="max-width:500px;" />

                <div>
                    <dl class="dl-horizontal text-center">
                        <dt>
                            @Html.DisplayNameFor(model => model.CustomerFirstName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CustomerFirstName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CustomerName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CustomerName)
                        </dd>

                        <strong>List of borrowed books:</strong>
                        <dd>
                            @foreach (var item in Model.BorrowedBooks)
                            {
                                if (item.Borrowed)
                                {
                                    <div>@item.Name</div>
                                }
                            }
                        </dd>
                    </dl>
                </div>
                <div class="text-center">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerId }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { id = Model.CustomerId }, new { @class = "btn btn-info" })
                </div>
            </div>
                </div>
                </div>
                
