@model IEnumerable<LibraryMVC.Core.Models.Customer>

@{
    ViewBag.Title = "Customers";
}

    <h2 style="margin-top: 30px">Customers Manager</h2>
    <div class="container m-0 m-lg-0 pl-xl-5 pr-xl-5" style="padding-bottom:40px; display: flex; padding-top: 20px; max-width:100%; font-size: 18px;">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th class="text-center">
                        @Html.DisplayName("Admin")
                    </th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        @Html.DisplayFor(model => item.FirstName)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(model => item.LastName)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(model => item.Email)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(model => item.PhoneNumber)
                    </td>

                    <td class="text-center">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
