@model LibraryMVC.Core.Models.Book

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
    <div class="container" style="margin-top:30px; margin-bottom:30px;">
        <h2>Book Creator</h2>

        @using (Html.BeginForm())
        {

            @Html.AntiForgeryToken()
            <div class="container" style="margin-top:30px; margin-bottom:30px;">
                <div class="form-horizontal">
                    <hr style="max-width:500px;" />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group text-center">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-xl-4 col-lg-4 col-md-8 col-sm-10 mx-auto">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control text-center" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group text-center">
                        @Html.LabelFor(model => model.WriterFirstName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-xl-4 col-lg-4 col-md-8 col-sm-10 mx-auto">
                            @Html.EditorFor(model => model.WriterFirstName, new { htmlAttributes = new { @class = "form-control text-center" } })
                            @Html.ValidationMessageFor(model => model.WriterFirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group text-center">
                        @Html.LabelFor(model => model.WriterLastName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-xl-4 col-lg-4 col-md-8 col-sm-10 mx-auto">
                            @Html.EditorFor(model => model.WriterLastName, new { htmlAttributes = new { @class = "form-control text-center" } })
                            @Html.ValidationMessageFor(model => model.WriterLastName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group text-center">
                        @Html.LabelFor(model => model.ReleaseDate, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-xl-4 col-lg-4 col-md-8 col-sm-10 mx-auto">
                            @Html.EditorFor(model => model.ReleaseDate, new { htmlAttributes = new { @class = "form-control text-center", type = "date" } })
                            @Html.ValidationMessageFor(model => model.ReleaseDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group text-center">
                        @Html.LabelFor(model => model.Publisher, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-xl-4 col-lg-4 col-md-8 col-sm-10 mx-auto">
                            @Html.EditorFor(model => model.Publisher, new { htmlAttributes = new { @class = "form-control text-center" } })
                            @Html.ValidationMessageFor(model => model.Publisher, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group text-center">
                        @Html.LabelFor(model => model.NumberOfBooks, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-xl-4 col-lg-4 col-md-8 col-sm-10 mx-auto">
                            @Html.EditorFor(model => model.NumberOfBooks, new { htmlAttributes = new { @class = "form-control text-center", min = "0" } })
                            @Html.ValidationMessageFor(model => model.NumberOfBooks, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group text-center">
                        @Html.LabelFor(model => model.Genre, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-xl-4 col-lg-4 col-md-8 col-sm-10 mx-auto">
                            @Html.EditorFor(model => model.Genre, new { htmlAttributes = new { @class = "form-control text-center" } })
                            @Html.ValidationMessageFor(model => model.Genre, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group text-center">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-xl-4 col-lg-4 col-md-8 col-sm-10 mx-auto">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control text-center" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group text-center">
                        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-xl-4 col-lg-4 col-md-8 col-sm-10 mx-auto">
                            @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control text-center" } })
                            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group text-center">
                        <div class="col-xl-4 col-lg-4 col-md-8 col-sm-10 mx-auto">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>

        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>



        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
