@model LibraryMVC.Core.ViewModels.BookListViewModel

@{
    ViewBag.Title = "All Books";
}

<h2 style="margin-top: 30px">All books</h2>
<hr style="max-width:500px;" />
<div class="container" style="padding-bottom:60px; display: flex; margin: 0px; font-size: 20px; padding-top: 10px; max-width:100%;">
    <div class="row" style="width: 100%; justify-content: center; margin-left: 0px">
        <h3 style="margin-bottom: 10px; text-align: center">Sort by:</h3>
        <ul class="list-group flex-row col-md-12 justify-content-center" style="margin-bottom: 20px; padding-left: 32px;">
            <li>@Html.ActionLink("Title A-Z", "All", new { sorting = "titleAscending" }, new { @class = Request["sorting"] == "titleAscending" ? "list-group-item active" : "list-group-item" })</li>
            <li>@Html.ActionLink("Title Z-A", "All", new { sorting = "titleDescending" }, new { @class = Request["sorting"] == "titleDescending" ? "list-group-item active" : "list-group-item" })</li>
            <li>@Html.ActionLink("Writer A-Z", "All", new { sorting = "writerAscending" }, new { @class = Request["sorting"] == "writerAscending" ? "list-group-item active" : "list-group-item" })</li>
            <li>@Html.ActionLink("Writer Z-A", "All", new { sorting = "writerDescending" }, new { @class = Request["sorting"] == "writerDescending" ? "list-group-item active" : "list-group-item" })</li>
        </ul>

        @foreach (var item in Model.Books)
        {
            <div class="col-12 col-md-12 col-lg-6 col-xl-3 align-items-center" style="margin-top: 10px; margin-bottom: 10px;">
                <div class="col-md-12 d-flex justify-content-center">
                    <img src="~/Content/BookImages/@item.Image" class="img-thumbnail" style="height: 400px; width: 250px;" />
                </div>
                <div class="col-md-12 text-center">
                    <strong>@Html.ActionLink(item.Title, "Details", "Home", new { id = item.Id }, null)</strong>
                </div>
                <div class="col-md-12 text-center">
                    @item.WriterFirstName
                </div>
                <div class="col-md-12 text-center">
                    @item.WriterLastName
                </div>

            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}